body{
    margin: 0;
    min-height: 100vh;
    background-image: url('https://external-preview.redd.it/naos-night-dynamic-wallpaper-v0-YnYwam9meXkxMjNkMSMU1jvGCQuu6l89GvDUMtEVmvis1juJ-4ococpMJcEM.png?format=pjpg&auto=webp&s=95bfa910fdb7134204d58eb58e1de6e7d7e6bf88');
    background-size: cover;
    background-position: center;
}

